.topNav {
	float: right;
	width: 630px;
	margin-left: 15px;
}
.topNav ul {
	list-style-type: none;
	display: inline;

}
.topNav ul li {
	float: left;
}
.topNav ul li a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	display: block;
	padding-left: 8px;
	padding-right: 8px;
}
.topNav ul li a:hover {
	color: #9BCD5A;
}
#selected a {
	color: #9BCD5A;
}
