.textContainer {
	background-color: #FFF;
	float: left;
	width: 920px;
}
.leftSideBar {
	width: 150px;
	float: left;
	background-color: #FFF;
}
.leftSideBar ul {
	list-style-type: none;
	margin-top: 20px;
	margin-left: 10px;

}
.leftSideBar ul li {


}
.leftSideBar ul li a {
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding-left: 10px;
	color: #42413C;
}
.leftSideBar ul li a:hover {
	color: #09C;
}
.leftSideBar ul #leftNavSelected a{
	color: #09C;
}




.content {
	width: 550px;
	float: left;
	margin-left: 10px;
}

.rightSideBar {
	width: 195px;
	float: right;
	margin-top: 20px;
}
.rightSideBar .callToAction img {
	margin-left: 15px;

}

.rightSideBar .rightSideBarSocial {
	margin-left: 18px;
	margin-top: 5px;
}
